/* The sidebar menu */
body,html
{
    margin:0;
}
.side-bar 
{
  display: grid;
  grid-template-columns: auto;
  background-color: #312450; 
  overflow-x: hidden;
  height: 100%; 
  width: 200px; /* Set the width of the sidebar */
  position: fixed; 
}

.side-bar a {
  padding: 0.25em;
  text-decoration: none;
  font-size:1.5em;
  color: #818181;
}

.side-bar a:hover {
  color: #f1f1f1;
}

.content 
{
    margin-left: 200px; /* Same as the width of the sidebar */
    height: 100vh;
}

.side-bar .side 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
p
{
    flex-wrap: wrap;
}
/* -------------- side-bar css ends---------------------*/

.section
{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
}

.part
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color:aliceblue;
}
.main
{
    margin: 0;
    height: 100%;
    width:100%;
}
.one
{
    background-color: #5e42a6;
}
.two
{
    background-color: #5052B5;
}
.three
{
    background-color: #B74E91;
}
.four
{
    background-color: #5E42A6;
}

.button
{
    
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease;
		-webkit-transition: border-color 0.2s ease;
		-ms-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;
		background-color: transparent;
		border: solid 1px white;
		border-color: rgba(255, 255, 255, 0.15) ;
		border-radius: 3em;
		color: #ffffff ;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: bold;
		height: calc(4.75em + 2px);
		letter-spacing: 0.25em;
		line-height: 4.75em;
		outline: 0;
		padding: 0 3.75em;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
}

input[type="text"],input[type="password"],input[type="email"],input[type="tel"],input[type="number"]
{
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 0.25em;
		border: none;
		border: solid 1px rgba(255, 255, 255, 0.15);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0.5em;
		text-decoration: none;
		width: 100%;
        padding: 1.5em;
        margin:0.5em;
	}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="number"]:focus
        {
			border-color: #ffffff;
			box-shadow: 0 0 0 1px #ffffff;
		}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: aliceblue;
  opacity: 1; 
}
input[type="submit"],button[type="submit"],input[type="reset"]
{
    -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease;
		-webkit-transition: border-color 0.2s ease;
		-ms-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;
		border: solid 1px white;
		border-color: rgba(255, 255, 255, 0.15) ;
		border-radius: 3em;
		color: #ffffff ;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: bold;
		height: calc(4.75em + 2px);
		letter-spacing: 0.25em;
		line-height: 4.75em;
		outline: 0;
		padding: 0 3.75em;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
        background-color: #ffffff;
        color: #312450 !important;
        margin: 1.5em;
}
h1
{
    font-size: 3em;
}
.active
{
    color: #ffffff;
}
/*------------------------------------*/
.top-bar {
  background-color: #312450;
  overflow: hidden;
}

.top-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.7em;
  text-decoration: none;
  font-size: 1.5em;
    margin-left: 3em;
}

.top-bar a:hover {
  background-color: #ddd;
  color: black;
}

.top-bar a.active-bar {
  background-color: #4CAF50;
  color: white;
}
/*----------------------*/
                .profile-box
                {
                display : flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                max-width: 100%;
                margin-left: 5em;
                margin-top: 1em;
                margin-bottom: 1em;
                margin-right: 5em;
                font-size: 1.8em;
                }
                .profile-box-cell
                {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin : 1em;
                }
                .chip 
                {
                    margin: 1em;    
                }
        .avatar
        {
            border-radius: 10em;
            height: 8em;
            width: 8em;
        }
/*------------------------*/
input[type="radio"],input[type="checkbox"]
{
  margin:1.5em;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
/*------------------*/
            .box
                {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                display : grid;
                grid-template-columns: auto auto auto auto;
                max-width: 100%;
                height : 180px;
                margin: 0.5em;
                background-color: #7D99C1;
                font-size: 0.8em;
                padding: 1.5em;
                }
            .color-box
                {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width:100%;
                height:40px;
                border-radius: 6em;
                margin: 0.25em;
                color : #FFF7F7;
                font-size: 1.4em;
                }
            
            .text-box
            {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width:100%;
            height:40px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 6em;
            margin: 0.5em;
            background-color:deepskyblue;
            color: white;
            }

.search-bar
{
  display : grid;
  grid-template-columns: auto auto auto auto;
  width: 600px;
  height:3em;
  background-color:white;
  border-radius: 5em;
  margin:0.5em;
}
.search-box
{
  display : flex;
  justify-content: center;
  align-items: center;
  color:grey;
  border:none;
    height:3em;
  grid-column-start:1;
  grid-column-end:5;
}
.search-button
{
  display : flex;
  justify-content: center;
  align-items: center;
  color:#00229B;
  background-color:#87F276;
  grid-column-start:5;
  grid-column-end:6;
  border-radius:5em;
    height:3em;
}
.search-box .search-box-text
{
    border:none;
    background: transparent;
    margin-left: 2em; 
}

.scroll-box
{
  display : grid;
  grid-template-columns:auto;
  background: rgba(255, 255, 255, 0.1);
  overflow : auto;
  height : 400px;
  max-width: 100%;
  margin-top :5em; 
}
/*-----------------------*/

    .cell-1
        {
            display : flex;
            justify-content: center;
            align-items: center;
            grid-row-start: 1;
            grid-row-end: 3;
            margin: 0.25em;
        }
    .cell
        {
            display : flex;
            justify-content: center;
            align-items: center;
            margin:0.25em;
            border-radius: 5em;
            background: white;
            color: dimgrey;
            font-size:1.2em;
            font-family: 'georgia';
        }
/*-----------------------*/

        .upper-bar
            {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 5em;
            }
            .upper-bar-box
            {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size : 1.2em;
                background-color: #56D2AD;
                color: white;
                border-radius : 5em;
                width: 200px;
                height: 30px;
            }

/*-----------------------*/
.profile-grid
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 2em;
    padding: 2em;
    border: 1px solid white;
    border-radius: 2em;
}
.profile-grid-cell
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    color : white;
    margin: 0.5em;
}
.book-grid
{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 2em; 
    padding: 1.2em;
    border: 1px solid white;
    border-radius: 2em;
    max-width: 100%;
    height : 300px;
    background-color: #7D99C1;
}
.book-grid-cell
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: black;
    border-radius: 5em;
    margin: 0.25em;
    padding: 0.3em;
}
.symptom
{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2em;
}
.col-1-2{grid-column-start: 1; grid-column-end: 3;}
.col-1-3{grid-column-start: 1; grid-column-end: 4;}
.col-1-4{grid-column-start: 1; grid-column-end: 5;}

.row-1-2{grid-row-start: 1; grid-row-end: 3;}
.row-1-3{grid-row-start: 1; grid-row-end: 4;}
.row-1-4{grid-row-start: 1; grid-row-end: 5;}

/*-----------------------*/
a
{
    text-decoration: none;
}
a:hover
{
    color:white;
    cursor: pointer;
}
        .yellow-green
            {
                background-color: yellowgreen;
                color : white;
            }
        .green
            {
            color:white;
            background-color : #45CF6C;
            }
        .red
            {
            color : white;
            background-color: #CF5E45;
            }
        .blue
            {
            background-color: #7CC2EA;
            color: white;
            }
        .no-decore
            {
                background-color: transparent;
                box-shadow: none;
            }

/*-----------------------------*/
@media only screen and (max-width: 500px) 
{
  body
    {
        font-size:10pt;
    }
    .side-bar
    {
        width:100px;
        font-size: 0.7em;
        text-align: center;
    }
    .side
    {
        font-size: 0.7em;
    }
    .content
    {
        margin-left:100px;
        font-size:1em;
    }
    .section
    {
        font-size:0.7em;
    }
   .part
    {
        font-size: 1em;
    } .button,input[type="submit"],button[type="submit"],input[type="reset"],input[type="text"],input[type="password"],input[type="email"],input[type="tel"],input[type="number"],input[type="radio"],input[type="checkbox"]
    {
        font-size:1em;
    }
}

@media only screen and (max-width: 800px) 
{
  body
    {
        font-size:11pt;
    }
    .side-bar
    {
        width:120px;
        font-size: 1em;
        text-align: center;
    }
    .side
    {
        font-size:0.8em;
    }
    .content
    {
        margin-left:120px;
        font-size:0.8em;
    }
    .section
    {
        font-size:1em;
    }
    .button,input[type="submit"],button[type="submit"],input[type="reset"],input[type="text"],input[type="password"],input[type="email"],input[type="tel"],input[type="number"],input[type="radio"],input[type="checkbox"]
    {
        font-size:0.7em;
    }
    .upper-bar-box
    {
        width : 150px;
        font-size:0.9em;
    }
    .button
    {
        border:none;
        font-size: 1.3em;
    }
}
/*-----------------------------*/
@media only screen and (max-width: 630px) 
{
    body
    {
        font-size:0.7em;
    }
    .scroll-box
    {
        margin-top:3em;
        height : 400px;
    }
    .color-box,.text-box
    {
        font-size: 1.3em;
        margin: 0.25em;
    }
    .box
    {
        height: 130px;
        font-size:0.9em;
    }
    .search-bar
    {
        width: 400px;
    }
    .cell
    {
        font-size:0.8em;
    }
    .upper-bar
    {
        margin-top: 3em;
    }
    .upper-bar-box
    {
        width:120px;
    }
}
/*-----------------------------*/
@media only screen and (max-width: 450px) 
{
    body
    {
        font-size:9pt;
    }
    .search-bar
    {
        width : 350px;
    }
    .color-box,.text-box,.cell
    {
        background-color: transparent;
        box-shadow: none;
    }
    .green
    {
        color: green;
        font-size:1.8em;
    }
    .red
    {
        color:red;
        font-size: 1.8em;
    }
    .cell 
    {
        color: white;
        font-size:1.2em;
    }
    .upper-bar-box
    {
        width:100px;
        font-size:0.8em;
    }
    .col-1-2
    {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .book-grid
    {
        grid-template-columns: auto;
    }
    .book-grid-cell
    {
        font-size:0.8em;
    }
}
/*-----------------------------*/
@media only screen and (max-width: 1200px)
{
    .profile-grid-cell
    {
        font-size: 0.6em;
    }
}
@media only screen and (max-width: 950px)
{
    .profile-grid
    {
        grid-template-columns: auto;
        font-size: 1em;
    }
}
/*-----------------------------*/
